.list{
    box-sizing: border-box;
    padding: 30px;
    list-style: none;
}

.list--row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list__item{
    display: block;
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    opacity: 75%;
}

.list__item:hover{
    --shadow-inset: 30px;
    color: var(--tertiary-color);
    opacity: 100%;
    transform: scale(1.3);
    text-shadow: 
    -2px -2px var(--shadow-inset)  var(--tertiary-color),
    2px -2px var(--shadow-inset)  var(--tertiary-color),
    -2px 2px var(--shadow-inset) var(--tertiary-color),
    2px 2px var(--shadow-inset)  var(--tertiary-color);
}