body,*,html,#app{
    margin:0;
    padding: 0;
    --main-color: #0b53da;
    --secondary-color: #ec1eff;
    --tertiary-color: #ffae00;
    --aux-dark-color: #454640;
}

.caption{
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
