body, *, html
    margin 0
    padding 0
    --main-color #1b1c25
    --secondary-color #1f4068
    --tertiary-color #206a5d
    --aux-dark-color #454640
    --caption-font-size 45px
    --primary-font-size 40px
    --secondary-font-size 22.5px

.btn-portafolio
    box-sizing border-box
    padding 20px
    text-align center
    color white
    font-size var(--secondary-font-size)
    background-color var(--secondary-color)
    cursor pointer
    text-decoration none

.caption
    color white
    text-align center
    font-family Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size var(--caption-font-size)
